<div data-cy='mainDisplay' >{{mainDisplayText}}</div>

<div [attr.data-cy]="'digit' + n" (click)='pressKey($event)' *ngFor='let n of digits'>{{n}}</div>

<div data-cy='dot' (click)='pressKey($event)'>.</div>

<div data-cy='sum' (click)='sum()'>+</div>
<div data-cy='subtract' (click)='pressKey($event)'>-</div>
<div data-cy='multiply' (click)='multiply()'>x</div>
<div data-cy='divide' (click)='pressKey($event)'>÷</div>

<div data-cy='enter' (click)='enter($event)'>=</div>
<div data-cy='clear' (click)='pressKey($event)'>C</div>

<!-- <a data-cy="link" href="http://localhost:4200" target="new">link</a> -->